{% extends "base.html" %} <!-- inherits from base.html which contains css -->
{% load static %} <!--loads the static folder containing css and images -->
{% block title %} Contact Page{% endblock %}

{% block content %}
    {% if errors %}
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="" method="post">
          <table>
                {{ form.as_table }}
          </table>
          {% csrf_token %}
          <input type="submit" value="Submit">
    </form>
{% endblock %}